In [61]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [78]:
cardata = pd.read_csv('../dataset/cars.csv')
cardata.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

In [63]:
print(cardata.describe())
print(cardata.value_counts())

       odometer_value  year_produced  engine_capacity     price_usd  \
count    38531.000000   38531.000000     38521.000000  38531.000000
mean    248864.638447    2002.943734         2.055161   6639.971021
std     136072.376530       8.065731         0.671178   6428.152018
min          0.000000    1942.000000         0.200000      1.000000
25%     158000.000000    1998.000000         1.600000   2100.000000
50%     250000.000000    2003.000000         2.000000   4800.000000
75%     325000.000000    2009.000000         2.300000   8990.000000
max    1000000.000000    2019.000000         8.000000  50000.000000

       number_of_photos    up_counter  duration_listed
count      38531.000000  38531.000000     38531.000000
mean           9.649062     16.306091        80.577249
std            6.093217     43.286933       112.826569
min            1.000000      1.000000         0.000000
25%            5.000000      2.000000        23.000000
50%            8.000000      5.000000        59.000000
75%           12.000000     16.000000        91.000000
max           86.000000   1861.000000      2232.000000
manufacturer_name  model_name  transmission  color  odometer_value  year_produced  engine_fuel  engine_has_gas  engine_type  engine_capacity  body_type  has_warranty  state  drivetrain  price_usd  is_exchangeable  location_region  number_of_photos  up_counter  feature_0  feature_1  feature_2  feature_3  feature_4  feature_5  feature_6  feature_7  feature_8  feature_9  duration_listed
Skoda              Rapid       mechanical    brown  0               2019           gasoline     False           gasoline     1.6              sedan      True          new    front       14544.72   True             Минская обл.     15                1           True       False      False      False      False      False      False      False      False      False      2                  5
                                             black  0               2019           gasoline     False           gasoline     1.6              sedan      True          new    front       14544.72   True             Минская обл.     15                1           True       False      False      False      False      False      False      False      False      False      2                  4
                                             blue   0               2019           gasoline     False           gasoline     1.6              sedan      True          new    front       14544.72   True             Минская обл.     15                2           True       False      False      False      False      False      False      False      False      False      3                  4
                                                                                                                                                                                                                                                         1           True       False      False      False      False      False      False      False      False      False      2                  3
                                             green  0               2019           gasoline     False           gasoline     1.6              sedan      True          new    front       16647.06   True             Минская обл.     15                12          True       False      False      False      False      False      False      False      False      False      26                 3
                                                                                                                                                                                                                                                                                                                                                                                                     ..
Hyundai            Accent      mechanical    brown  25000           2015           gasoline     False           gasoline     1.6              sedan      False         owned  front       10100.00   False            Минская обл.     9                 15          False      True       False      False      False      True       False      True       False      True       16                 1
                                                    80000           2014           gasoline     False           gasoline     1.6              sedan      True          owned  front       9200.00    True             Витебская обл.   6                 62          False      True       False      True       False      True       False      False      True       False      665                1
                                                                    2015           gasoline     False           gasoline     1.6              hatchback  False         owned  front       9247.84    False            Минская обл.     3                 5           False      True       False      False      False      True       False      False      True       False      178                1
                                                    184000          2008           gasoline     False           gasoline     1.5              sedan      False         owned  front       3750.00    False            Минская обл.     8                 10          True       False      False      False      False      False      False      False      False      False      59                 1
УАЗ                Patriot     mechanical    white  33000           2018           gasoline     False           gasoline     2.7              suv        True          owned  front       12800.00   False            Минская обл.     7                 1           False      False      False      True       True       True       True       True       True       True       1                  1
Length: 38481, dtype: int64

In [64]:

print(cardata.isnull().sum())

manufacturer_name     0
model_name            0
transmission          0
color                 0
odometer_value        0
year_produced         0
engine_fuel           0
engine_has_gas        0
engine_type           0
engine_capacity      10
body_type             0
has_warranty          0
state                 0
drivetrain            0
price_usd             0
is_exchangeable       0
location_region       0
number_of_photos      0
up_counter            0
feature_0             0
feature_1             0
feature_2             0
feature_3             0
feature_4             0
feature_5             0
feature_6             0
feature_7             0
feature_8             0
feature_9             0
duration_listed       0
dtype: int64

In [65]:
cardata = pd.get_dummies(cardata)

In [66]:
#Les variables qualitatives
categorical = [var for var in cardata.columns if cardata[var].dtype == 'O']
    #Les variables continues
numerical = [var for var in cardata.columns if cardata[var].dtype != 'O']

In [67]:
data = pd.get_dummies(data)
for cardata in [cardata]:
        for col in numerical:
            col_median = cardata[col].median()
            cardata[col].fillna(col_median, inplace=True)
        for col in categorical:
            cardata[col].fillna(cardata[col].mode()[0], inplace=True)

In [68]:
cardata2 = cardata.copy()

In [69]:
cardata2.head()

,odometer_value,year_produced,engine_has_gas,engine_capacity,has_warranty,price_usd,is_exchangeable,number_of_photos,up_counter,feature_0,...,state_owned,drivetrain_all,drivetrain_front,drivetrain_rear,location_region_Брестская обл.,location_region_Витебская обл.,location_region_Гомельская обл.,location_region_Гродненская обл.,location_region_Минская обл.,location_region_Могилевская обл.
0,190000,2010,False,2.5,False,10900.00,False,9,13,False,...,1,1,0,0,0,0,0,0,1,0
1,290000,2002,False,3.0,False,5000.00,True,12,54,False,...,1,1,0,0,0,0,0,0,1,0
2,402000,2001,False,2.5,False,2800.00,True,4,72,False,...,1,1,0,0,0,0,0,0,1,0
3,10000,1999,False,3.0,False,9999.00,True,9,42,True,...,1,1,0,0,0,0,0,0,1,0
4,280000,2001,False,2.5,False,2134.11,True,14,7,False,...,1,1,0,0,0,0,1,0,0,0

In [70]:
scaler = StandardScaler()
cardata2 = scaler.fit_transform(cardata2)

In [71]:
cardata2

array([[-0.43260362,  0.87485665, -0.19032934, ..., -0.26256368,
         0.76825695, -0.27330183],
       [ 0.30230894, -0.11700687, -0.19032934, ..., -0.26256368,
         0.76825695, -0.27330183],
       [ 1.125411  , -0.24098981, -0.19032934, ..., -0.26256368,
         0.76825695, -0.27330183],
       ...,
       [ 3.88836618, -0.36497275, -0.19032934, ..., -0.26256368,
         0.76825695, -0.27330183],
       [-1.68195496, -0.24098981, -0.19032934, ..., -0.26256368,
        -1.30164785, -0.27330183],
       [ 0.35911033, -0.36497275, -0.19032934, ..., -0.26256368,
         0.76825695, -0.27330183]])

In [72]:
print(cardata.describe())

       odometer_value  year_produced  engine_capacity     price_usd  \
count    38531.000000   38531.000000     38531.000000  38531.000000
mean    248864.638447    2002.943734         2.055147   6639.971021
std     136072.376530       8.065731         0.671091   6428.152018
min          0.000000    1942.000000         0.200000      1.000000
25%     158000.000000    1998.000000         1.600000   2100.000000
50%     250000.000000    2003.000000         2.000000   4800.000000
75%     325000.000000    2009.000000         2.300000   8990.000000
max    1000000.000000    2019.000000         8.000000  50000.000000

       number_of_photos    up_counter  duration_listed  \
count      38531.000000  38531.000000     38531.000000
mean           9.649062     16.306091        80.577249
std            6.093217     43.286933       112.826569
min            1.000000      1.000000         0.000000
25%            5.000000      2.000000        23.000000
50%            8.000000      5.000000        59.000000
75%           12.000000     16.000000        91.000000
max           86.000000   1861.000000      2232.000000

       manufacturer_name_Acura  manufacturer_name_Alfa Romeo  \
count             38531.000000                  38531.000000
mean                  0.001713                      0.005372
std                   0.041352                      0.073100
min                   0.000000                      0.000000
25%                   0.000000                      0.000000
50%                   0.000000                      0.000000
75%                   0.000000                      0.000000
max                   1.000000                      1.000000

       manufacturer_name_Audi  ...   state_owned  drivetrain_all  \
count            38531.000000  ...  38531.000000    38531.000000
mean                 0.064052  ...      0.979030        0.139810
std                  0.244849  ...      0.143286        0.346794
min                  0.000000  ...      0.000000        0.000000
25%                  0.000000  ...      1.000000        0.000000
50%                  0.000000  ...      1.000000        0.000000
75%                  0.000000  ...      1.000000        0.000000
max                  1.000000  ...      1.000000        1.000000

       drivetrain_front  drivetrain_rear  location_region_Брестская обл.  \
count      38531.000000     38531.000000                    38531.000000
mean           0.720096         0.140095                        0.077626
std            0.448958         0.347090                        0.267585
min            0.000000         0.000000                        0.000000
25%            0.000000         0.000000                        0.000000
50%            1.000000         0.000000                        0.000000
75%            1.000000         0.000000                        0.000000
max            1.000000         1.000000                        1.000000

       location_region_Витебская обл.  location_region_Гомельская обл.  \
count                    38531.000000                     38531.000000
mean                         0.078041                         0.081493
std                          0.268240                         0.273594
min                          0.000000                         0.000000
25%                          0.000000                         0.000000
50%                          0.000000                         0.000000
75%                          0.000000                         0.000000
max                          1.000000                         1.000000

       location_region_Гродненская обл.  location_region_Минская обл.  \
count                      38531.000000                  38531.000000
mean                           0.064494                      0.628844
std                            0.245633                      0.483120
min                            0.000000                      0.000000
25%                            0.000000                      0.000000
50%                            0.000000                      1.000000
75%                            0.000000                      1.000000
max                            1.000000                      1.000000

       location_region_Могилевская обл.
count                      38531.000000
mean                           0.069502
std                            0.254310
min                            0.000000
25%                            0.000000
50%                            0.000000
75%                            0.000000
max                            1.000000

[8 rows x 1227 columns]

In [73]:
pca = PCA()
pca2 = PCA()
cardata2 = pca2.fit_transform(cardata2)
cardata = pca.fit_transform(cardata)

In [74]:
cardata2

array([[ 4.40015892e+00,  1.33996463e+00, -8.49657889e-01, ...,
        -2.12112521e-15, -3.24342785e-15, -8.07738187e-16],
       [ 2.57199190e+00,  1.22698381e+00, -1.48166706e+00, ...,
        -2.26078875e-15, -3.73567513e-16, -1.56324278e-15],
       [ 2.12854066e+00,  1.56082484e+00, -1.31150884e+00, ...,
         7.36699388e-17,  6.87577557e-16,  6.33780092e-16],
       ...,
       [ 1.53042986e+00,  7.90638903e-01, -2.96480266e+00, ...,
         1.35197265e-16,  1.20568312e-17,  9.40358467e-17],
       [-8.42183043e-01,  1.21607643e+00, -1.25936599e+00, ...,
         2.68330580e-16, -1.41994093e-17, -1.34079801e-17],
       [-6.08734001e-01,  8.97872590e-01, -1.22758362e+00, ...,
         4.97491085e-16, -1.54032419e-16,  1.08544840e-17]])

In [75]:
print(pca.explained_variance_)
print(pca2.explained_variance_)

[1.85230361e+10 3.39767966e+07 1.36904620e+04 ... 2.00996405e-33
 1.90126508e-33 5.09461435e-34]
[8.64685332e+00 5.20771148e+00 4.14108065e+00 ... 1.57926651e-31
 1.44601987e-31 1.25951444e-31]

In [76]:
print(np.sum(pca.explained_variance_ratio_))
print(np.sum(pca2.explained_variance_ratio_))

1.0000000000000002
1.0

In [77]:
print(pca.explained_variance_ratio_)
print(pca2.explained_variance_ratio_)

[9.98168271e-01 1.83093961e-03 7.37750806e-07 ... 1.08312824e-43
 1.02455260e-43 2.74538277e-44]
[6.97308782e-03 4.19965833e-03 3.33949450e-03 ... 1.27356897e-34
 1.16611479e-34 1.01571109e-34]